    --color-lime-400: #a3e635;
    --color-stone-900: #1c1917;
    --color-stone-950: #0c0a09;
    --color-black: #000;
    --color-white: #fff;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-4xl: 56rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1/.75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25/.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5/1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75/1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75/1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2/1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25/1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5/2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --tracking-tighter: -.05em;
    --tracking-tight: -.025em;
    --tracking-wide: .025em;
    --tracking-wider: .05em;
    --tracking-widest: .1em;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --radius-sm: max(0px,calc(var(--radius) - 4px));
    --radius-md: max(0px,calc(var(--radius) - 2px));
    --radius-lg: var(--radius);
    --radius-2xl: 1rem;
    --ease-out: cubic-bezier(0,0,.2,1);
    --ease-in-out: cubic-bezier(.4,0,.2,1);
    --animate-spin: spin 1s linear infinite;
    --animate-ping: ping 1s cubic-bezier(0,0,.2,1)infinite;
    --animate-pulse: pulse 2s cubic-bezier(.4,0,.6,1)infinite;
    --blur-sm: 8px;
    --blur-md: 12px;
    --aspect-video: 16/9;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4,0,.2,1);
    --default-font-family: var(--font-geist-sans),sans-serif;
    --default-mono-font-family: var(--font-jetbrains-mono),monospace;
    --color-primary: var(--primary);
    --color-muted: var(--muted);
    --color-border: var(--border);
    --color-red-50: lab(96.5005% 4.18508 1.52328);
    --color-red-400: lab(63.7053% 60.745 31.3109);
    --color-red-500: lab(55.4814% 75.0732 48.8528);
    --color-orange-400: lab(70.0429% 42.5156 75.8207);
    --color-orange-500: lab(64.272% 57.1788 90.3583);
    --color-amber-400: lab(80.1641% 16.6016 99.2089);
    --color-amber-500: lab(72.7183% 31.8672 97.9407);
    --color-amber-700: lab(47.2709% 42.9082 69.2966);
    --color-amber-900: lab(31.2288% 30.2627 40.0378);
    --color-amber-950: lab(15.8111% 20.9107 23.3752);
    --color-yellow-400: lab(83.2664% 8.65132 106.895);
    --color-yellow-500: lab(76.3898% 14.5258 98.4589);
    --color-lime-300: lab(89.9218% -35.6546 68.5254);
    --color-lime-950: lab(16.5113% -15.1841 22.0145);
    --color-green-400: lab(78.503% -64.9265 39.7492);
    --color-green-500: lab(70.5521% -66.5147 45.8073);
    --color-emerald-400: lab(75.0771% -60.7313 19.4147);
    --color-emerald-500: lab(66.9756% -58.27 19.5419);
    --color-emerald-700: lab(44.4871% -41.0396 11.0361);
    --color-cyan-300: lab(85.3886% -36.7636 -21.5716);
    --color-cyan-400: lab(76.6045% -40.9406 -29.6231);
    --color-cyan-500: lab(67.805% -35.3952 -30.2018);
    --color-sky-300: lab(80.3307% -20.2945 -31.385);
    --color-sky-500: lab(63.3038% -18.433 -51.0407);
    --color-blue-50: lab(96.492% -1.14644 -5.11479);
    --color-blue-400: lab(65.0361% -1.42065 -56.9802);
    --color-blue-500: lab(54.1736% 13.3369 -74.6839);
    --color-blue-600: lab(44.0605% 29.0279 -86.0352);
    --color-blue-700: lab(36.9089% 35.0961 -85.6872);
    --color-purple-400: lab(63.6946% 47.6127 -59.2066);
    --color-purple-500: lab(52.0183% 66.11 -78.2316);
    --color-pink-500: lab(56.9303% 76.8162 -8.07021);
    --color-stone-100: lab(96.5286% -.0991821 .364268);
    --color-stone-200: lab(91.055% .663072 .865579);
    --color-stone-300: lab(84.7909% .928015 1.59738);
    --color-stone-400: lab(66.2166% 1.88044 3.20326);
    --color-stone-500: lab(48.1164% 2.35701 4.26852);
    --color-stone-600: lab(35.5168% 1.08604 4.07829);
    --color-stone-700: lab(27.3812% 1.32917 3.57789);
    --color-stone-800: lab(15.0353% 1.96067 1.53427);
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-feature-settings: var(--default-font-feature-settings,normal);
    font-variation-settings: var(--default-font-variation-settings,normal);
    -webkit-tap-highlight-color: transparent;
    --rc-drag-handle-size: 12px;
    --rc-drag-handle-mobile-size: 24px;
    --rc-drag-handle-bg-colour: #0003;
    --rc-drag-bar-size: 6px;
    --rc-border-color: #ffffffb3;
    --rc-focus-color: #08f;
    --color-brand: #caea28;
    --font-sans: Geist,sans-serif;
    --font-serif: Georgia,serif;
    --font-mono: JetBrains Mono,monospace;
    --font-nippo: "Nippo",monospace;
    --radius: .2rem;
    --tracking-normal: 0em;
    --spacing: .2rem;
    --tooltip-max-w: 420px;
    color-scheme: dark;
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
    -webkit-font-smoothing: antialiased;
    --font-geist-sans: "Geist","Geist Fallback";
    --font-geist-mono: "Geist Mono","Geist Mono Fallback";
    --font-clash-grotesk: "clashGrotesk","clashGrotesk Fallback";
    --font-clash-display: "clashDisplay","clashDisplay Fallback";
    --font-jetbrains-mono: "JetBrains Mono","JetBrains Mono Fallback";
    --background: color-mix(in srgb,var(--color-stone-900)95%,var(--color-black));
    --foreground: var(--color-stone-200);
    --card: color-mix(in srgb,var(--background)98%,var(--color-white));
    --card-foreground: var(--color-stone-200);
    --popover: color-mix(in srgb,var(--background)96%,var(--color-white));
    --popover-foreground: var(--color-stone-200);
    --primary: var(--color-brand);
    --primary-foreground: var(--color-stone-800);
    --secondary: color-mix(in oklab,var(--color-white)6%,transparent);
    --secondary-foreground: var(--color-stone-200);
    --muted: color-mix(in oklab,var(--color-white)6%,transparent);
    --muted-foreground: color-mix(in srgb,var(--color-stone-500)90%,var(--color-white));
    --accent: color-mix(in oklab,var(--color-white)6%,transparent);
    --accent-foreground: var(--color-stone-200);
    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-red-50);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-400);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-400);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-400);
    --border: color-mix(in oklab,var(--color-white)12%,transparent);
    --input: color-mix(in oklab,var(--color-white)12%,transparent);
    --ring: var(--color-stone-500);
    --chart-1: #ac9d8d;
    --chart-2: #c0b5a9;
    --chart-3: #d4cdd6;
    --chart-4: #e8e5df;
    --chart-5: #908479;
    --sidebar: color-mix(in srgb,var(--color-stone-950)98%,var(--color-white));
    --sidebar-foreground: var(--color-stone-200);
    --sidebar-primary: var(--color-lime-400);
    --sidebar-primary-foreground: var(--color-stone-900);
    --sidebar-accent: color-mix(in srgb,var(--color-stone-800)90%,var(--color-stone-900));
    --sidebar-accent-foreground: var(--color-stone-200);
    --sidebar-border: color-mix(in oklab,var(--color-white)10%,transparent);
    --sidebar-ring: var(--chart-1);
    --shadow-x: 0px;
    --shadow-y: 3px;
    --shadow-blur: 8px;
    --shadow-spread: 0px;
    --shadow-opacity: .12;
    --shadow-color: #1c1a17;
    --shadow-2xs: 0px 3px 8px 0px #1c1a170f;
    --shadow-xs: 0px 3px 8px 0px #1c1a170f;
    --shadow-sm: 0px 3px 8px 0px #1c1a171f,0px 1px 2px -1px #1c1a171f;
    --shadow: 0px 3px 8px 0px #1c1a171f,0px 1px 2px -1px #1c1a171f;
    --shadow-md: 0px 3px 8px 0px #1c1a171f,0px 2px 4px -1px #1c1a171f;
    --shadow-lg: 0px 3px 8px 0px #1c1a171f,0px 4px 6px -1px #1c1a171f;
    --shadow-xl: 0px 3px 8px 0px #1c1a171f,0px 8px 10px -1px #1c1a171f;
    --shadow-2xl: 0px 3px 8px 0px #1c1a174d;
    color: var(--card-foreground);
    --tw-backdrop-blur: blur(var(--blur-md));
    --tw-duration: .3s;
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--input)transparent;
    border-color: var(--border);
    outline-color: color-mix(in oklab,var(--ring)50%,transparent);
    position: relative;
    z-index: 20;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: calc(var(--spacing)*6);